body{
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mainColor);
  flex-wrap: wrap;
  margin: 0;
}
.splash{
  display: none;
  position: fixed;
  width:600px;
  top:20vh;
  background: var(--mainColor);
  padding: 20px;
  color:white;
  left: calc(50% - 300px);
  z-index: 200;
  box-shadow: 0 0 40px #aaaaaa
}
.splash a{
  color: white;
}
.splash .credits{
  font-size: .8em;
  text-align: right;
}
.splash .splashBtn{
  display: block;
  margin: 20px auto;
  background: white;
  padding: 5px 10px;
  color: var(--mainColor)
}
body.info .splash{
  display: block;
}
ul{
  margin:.7em 0;

}
li{
  position: relative; padding-left: 2em;
  margin-bottom: .5em;
}
li::before{
  position: absolute;
  top:.1em; left:0;
  content: "— ";
}
.list{
  transform: scale(.1);
  transform-origin: top right;
  position: fixed;
  right: 0;
  top:0;
  width:var(--artzone-width);
}
.list .pageframe{
  margin-bottom: 40px;
}
#pagelist{
  right:var(--frame-width);
}
.list .artzone #canvas, .list #toolname{
  display: none;
}
#mainartzone{
  transition: all .3s linear;
}
aside{
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  width:20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
  color: white;
}
#toolname{
  font-size: 18px;
  text-align: left;
  padding-bottom: 5px;
  width: 100%;
  color: white;
  position: absolute;
  top:-30px;
  left:0;
}

.button{
  text-transform: uppercase;
  display: block;
  color: black;
  text-decoration:none;
  width:40px;
  background: none;
  opacity: .7;
  font-size: 13px;
  transition: all .2s ease;
  margin-bottom: 25px;
}

.button:hover{
  opacity: 1;
}
.button.active{
  position: relative;
  top:2px;
  box-shadow: none;
  background: #9bd991;
  color:green;
  border-color:inherit;
}
.button img{
  width:100%;
  height: auto;
}

@media (max-height: 820px) {
  main{
    transform: scale(.8);
  }
}
