
:root {
  /* --artzone-width: 130mm;
  --artzone-height: 155mm; */
  --artzone-width: 650px;
  --artzone-height: 775px;
  --frame-width: 20mm;
  --frame-height: 20mm;
  --colnbr:9;
  --rownbr:11;
  --mainColor:#2b377b;
}

html{height: 100%}

.artzone{
  width:var(--artzone-width);
  height:var(--artzone-height);
  position: relative;
}
body{
  font-family: liberation, sans-serif;
  font-size: 20px;
}
body.done .artzone, .end{
  display: none;
}
body.done .print{
  opacity: 1;
}
body.done .download, body.done .reset, body.done .next{
  display: none;
}
body.done .end{
  display: block;
  color:white;
}
.versionlayer{
  display: none;
}
.artzone[data-tool="frameOfVersions"] .versionlayer{
  display: grid;
  grid-template-columns: repeat(var(--colnbr), 1fr);
  grid-template-rows:    repeat(var(--rownbr), 1fr);
  pointer-events: none;
}
.versionlayer{
  position: absolute;
  width: calc(var(--artzone-width) );
  height:calc(var(--artzone-height));
  top:0;
  left:0;
}
.versionlayer .frame{
  display: flex;
  width: 100%;
  /* background: white; */
  justify-content: flex-start;
}
.versionlayer .frame.top   {
  grid-area: 1 / 2 / 2 / calc(var(--colnbr) + 1);
}
.versionlayer .frame.right {
  grid-area: 2 / var(--colnbr) / calc(var(--rownbr) + 1) / calc(var(--colnbr) + 1);
  flex-direction: column;
  justify-content: flex-start;
}
.versionlayer .frame.bottom{
  grid-area: calc(var(--rownbr) + 1) / 1 / calc(var(--rownbr)) / calc(var(--colnbr));
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.versionlayer .frame.left  {
  grid-area: 1 / 1 / var(--rownbr) / 2;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.versionlayer:after{ /* Placeholder for the center of the grid */
  content: "";
  grid-area: 2 / 2 / var(--rownbr) / var(--colnbr);
}
.canvas{
  /* border:1px solid gray; */
  background-color: white;
  width: calc(var(--artzone-width) );
  height:calc(var(--artzone-height));
}

.frame svg{
  width: calc(var(--artzone-width) / var(--colnbr));
  height: calc(var(--artzone-height) / var(--rownbr));
}

.thumb{
  width:var(--frame-width);
  height: var(--frame-height);
}
.path{
  fill: none;
  stroke: #fff;
}
