:root {
  --color-paper: white;
  --color-margin-box: transparent;
  /* --width: 297mm;
  --height: 210mm; */
  --width: 148.1mm;
  --height: 209.8mm; /*don’t ask me why (chrome)*/
  --artzoneW : calc(var(--width)- var(--inner-margin) * 2);
  --artzoneH : calc(var(--height) - var(--inner-margin) * 4.6 );
  --colnbr:9;
  --rownbr:11;
  /* --color:#dc0000; */
  /* --color:#dc0000; */ /* RB color */
  --color:#2b377b;  /* Public color */
  --drawingBg:#faf9ff;
  --inner-margin:15mm;
}

svg{display: block;}
.screen{display: none;}
.rb{display: none;}
.public{display: block;}
/* .rb{display: block;}
.public{display: none;} */

/* variable used for the book */
@media screen {
  body {
   background:lightgray;
   display: flex;
   justify-content: center;
   padding: 30px;
  }
  .pageframe{
    margin-bottom:30px;
    outline:1px solid black;
    background: white;
  }
}
svg path{
  stroke:var(--color);
}
svg *[fill="#000000"]{
  fill:var(--color);
}
svg text{
  fill:var(--color);
}
.cover{
  display: flex;
  align-items: center;
  height:var(--height);
}
.cover img{
  height: auto;
}
.cover, .backcover{
  background: var(--color);
  color:white;
  position: relative;
}
.backcover .credits{
  font:7.3pt/1.4em "liberation sans";
  position: absolute;
  bottom: var(--inner-margin);
  left: var(--inner-margin);
}
.backcover .ppp{
  width: 72px;
  height: auto;
  position: absolute;
 bottom: calc(var(--inner-margin) - 7px);
 right: var(--inner-margin);
 display: block;
}
.backcover .description{
  font:18pt/1.3em "liberation sans";
}
.glossary{
  font:7.3pt/1.3em "liberation sans";
  columns: 2;
  font-weight: normal;
  /* font-weight: bold; */
}
.glossary .text{
  margin-bottom: .9em;
  display: flex;
  flex-wrap: wrap;
  break-inside: avoid-column;
}
.glossary .title{
  width:100%;
}
.pt, .dt{
  width: 100%;
  text-indent: 10%;
}
.dt{
  /* flex-grow: 1;
  text-align: right; */
}
.glossary p{
  /* width:100%; */
  margin-left: 10%;
}
body {
 font:18pt/1.3em liberation, sans-serif;
 color:var(--color);
}
/* main, */
.unsorted{
  display: flex;
  flex-wrap: wrap;
  width:var(--width);
  height:var(--height);
  background: white;
}
.artzone .canvas{
  width: 100%;
  height: auto;
  /* padding-bottom: 92%; */
  /* height: -1px; */
  /* overflow: visible; */
}
.pageframe{
  /* width:calc(var(--width) /2); */
  width:var(--width);
  height:var(--height);
  padding: 0 var(--inner-margin) ;
}
.artzone, .textframe{
  padding: var(--inner-margin) 0;
  width:var(--artzoneW);
}

.versionlayer{
  width:var(--artzoneW);
  height:var(--artzoneH);
  top:var(--inner-margin);
}
.artzone::after{
  content: attr(data-tool)"()";
  position: absolute;
  bottom: var(--inner-margin);
  left: 0mm;
  display: block;
}
.pageBreak{
  page-break-after: always;
}
.frame svg{
  width: calc(118mm / var(--colnbr)); /* Hot fix */
  /* width: calc(var(--artzoneW) / var(--colnbr)); */
  height: calc(var(--artzoneH) / var(--rownbr));
}
.artzone #canvas{
  display: none;
}
@media print {
  body{
    background: transparent;
  }
  .pageframe{
    page-break-inside: avoid;
    /* outline:2px solid blue; */
    border: none;
  }
  @page {
    /* size:  297mm 210mm; */
    size:  148mm 210mm;
    padding: 0;
    margin: 0cm;
  }
}
